<%- include("templates/header") %>
    <ul class="nav">
        <% if (locals.isAuth) { %>
            <li>
                <a href="/members">Members</a>
            </li>
            <li>
                <a href="/logout">Sign Out</a>
            </li>
            <% } else { %>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
                <% } %>
    </ul>
    <h3>This is the Landing Page of The Website</h3>
    <%- include("templates/footer") %>