<%- include("templates/header") %>
    <h1>Welcome to the Members page</h1>
    <img style="height: 300px;" src="/public/<%= image %>" alt="Random Image" />
    <br>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
    <%- include("templates/footer") %>