<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members | Node Auth</title>
</head>

<body>
    <h1>Welcome to the Members page</h1>
    <img style="height: 300px;" src="/imgs/<%= image %>" alt="Random Image" />
    <br>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>

</html>